Untitled

April 18, 2023

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>list1=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack␣
↪Kallis',25534), ('Virat Kohli', 24936)]</p>
<p>print(list1)</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

\[4\]: 1.

> \[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting',
> 27483), ('Sachin Tendulkar', 34357)\]

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>list1= [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]<br />
square_list= list(map(<strong>lambda</strong> x : x**2, list1))
print(square_list)</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

\[5\]: 2.

> \[1, 4, 9, 16, 25, 36, 49, 64, 81, 100\]

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>l1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]<br />
t=tuple(map(<strong>lambda</strong> x: str(x),l1))<br />
print(t)</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

\[6\]: 3.

> ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p><strong>from functools import</strong> reduce<br />
l2=list(range(1,26))<br />
p=reduce(<strong>lambda</strong> x,y:x*y,l2)<br />
print(p)</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

\[7\]: 4.

> 15511210043330985984000000

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>l3=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]<br />
result=list(filter(<strong>lambda</strong> x : x%<strong>2</strong>==0
and x%3==0,l3)) print(result)</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

\[8\]: 5.

> \[6, 60, 90, 120\]

1

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>s=['python','php','aba','radar','level']<br />
palindrome=list(filter(<strong>lambda</strong> x:x ==x[::-1],s))
print(palindrome)</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

\[9\]: 6.

> \['php', 'aba', 'radar', 'level'\]

\[ \]:

2